[ ca ]
default_ca = my_ca

[ my_ca ]
dir               = /root/ca
database          = $dir/index.txt
new_certs_dir     = $dir/newcerts
certificate       = $dir/cacerts/ca.pem
serial            = $dir/serial
private_key       = $dir/private/cakey.pem
default_md        = sha256
policy            = my_policy
copy_extensions   = copy
default_extensions = v3_req

[ my_policy ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
commonName              = supplied

[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C  = US
ST = State
L  = City
O  = Organization
OU = Organizational Unit
CN = my-ca
[ v3_ca ]
basicConstraints = CA:TRUE
keyUsage = critical, cRLSign, keyCertSign
[ v3_req ]
